<h1>
    Login
</h1>

<style>
    h5{
        color: blue;
    }
    button{
        color: rgb(255, 255, 255);
        background: rgb(0, 135, 255);
        border: rgb(0, 0, 0);
        width: 120px;
        height: 35px;
        border-radius: 10px;
        border-width: 15px;
        cursor: pointer;
    };
</style>
<a href="login2">redirect to other login</a>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form action="login" method="POST">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username"/>
    <p>Password:</p>
    <input type="password" name="password"/><br><br><br>
    <button type="submit"><b>LOGIN</b></button><br><br>
    <li><a href="register"><b>SIGN UP</b></a></li>
    
 </form>